<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 700px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>

<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/fragments/course/innerInstructor.html::fragment-sidebar(${courseDTO.id})"></div>

    <div id="page-content-wrapper">

        <!-- Page content-->
        <div class="container-fluid">
            <div class="py-5 text-center">
                <h1 class="col mt-4" th:text="${courseDTO.name}">강좌 이름</h1>
                <h2 class="mt-4">설정 및 관리</h2>
            </div>
            <div class="row container2 mx-auto">
                <h4 class="mt-4">강좌 가입 신청</h4>
                <hr class="my-4">
                <div th:each="unacceptedUserDTO : ${unacceptedUserDTOs.getStudents()}">
                    <div class="border rounded p-4">
                        <p th:text="${unacceptedUserDTO.name}">강좌 구성원 이름</p>
                        <button type="button" class="btn btn-outline-primary"
                                th:onclick="|javascript:accept(${courseDTO.id}, ${unacceptedUserDTO.id})|">수락</button>
                        <button type="button" class="btn btn-outline-danger"
                                th:onclick="|javascript:reject(${courseDTO.id}, ${unacceptedUserDTO.id})|">거절</button>
                    </div>
                </div>

                <h4 class="mt-4">강좌 구성원</h4>
                <hr class="my-4">
                <div th:each="studentDTO : ${studentDTOs.getStudents()}">
                    <div class="border rounded p-4">
                        <p th:text="${studentDTO.name}">강좌 구성원 이름</p>
                    </div>
                </div>

                <h4 class="mt-4">강좌 관리</h4>
                <hr class="my-4">
                <div>
                    <div class="border rounded p-4">
                        <p>강좌 삭제하기</p>
                        <button type="button" class="btn btn-outline-danger"
                                th:onclick="|javascript:deleteCourse(${courseDTO.id})|">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>
<script>
    function accept(courseId, userId){
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/courses/" + courseId + "/application/" + userId + "/accept");
        document.body.appendChild(form);
        form.submit();
    }
    function reject(courseId, userId){
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/courses/" + courseId + "/application/" + userId + "/reject");
        document.body.appendChild(form);
        form.submit();
    }
    function deleteCourse(id) {
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/courses/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
