<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container {
        max-width: 600px;
    }
    .btn-custom {
        max-width: 100px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav"></div>

</br>
</br>

<section id="services" class="services section-bg">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
            <h2>가상환경 로드하기</h2>
        </div>

        <div class="row icon-boxes d-flex justify-content-center">
            <div class="col-md-7 aos-init aos-animate mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <form th:action="@{/vm/create}" th:object="${vm}" method="post" style="text-align: center;" class="m-auto center-block">


                        <button class="mt-5 btn btn-lg btn-primary" type="submit" id="create-btn">로드하기</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section><!-- End Hero -->


<!-- 공통 footer -->
<div th:replace="/fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
<script>
    function alert(port) {

        Swal.fire({
            title : "접속하시겠습니까?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '접속',
            cancelButtonText: '취소'
        }).then((result) => {
            if(result.isConfirmed) {
                location.href = "http://www.webdesktop.p2kcloud.com:"+port;
            }
        })
    }
</script>
</body>

</html>