<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>

<body>

    <!-- 공통 navigation-->
    <div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>

    <!-- Page content-->
<main id="main">

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
            </br>
            </br>

            <div class="section-title">
                <h2><a th:text="${user.name}"></a>님의 가상환경 목록</h2>
            </div>

            </br>
            <div class="row">
                <div class="col-lg-3 col-md-5" data-aos="zoom-im" data-aos-delay="100" th:each="v : ${vm.getVms()}">

                    <div class="box p-3">
                        <h3 th:text="${v.name}"></h3>
                        <input hidden id="vmId" type="text" th:value="${v.id}"/>
                        <input hidden id="vmPort" type="text" th:value="${v.port}"/>
                        <input hidden id="vmImageId" type="text" th:value="${v.imageId}"/>
                        <p class="card-text text-center"><span th:if="${v.scope}">전체공개</span></p>
                        <p class="card-text text-center"><span th:if="!${v.scope}">비공개</span></p>
                        <p class="card-text text-center"><span th:if="${v.control}">누구나 제어 가능</span></p>
                        <p class="card-text text-center"><span th:if="!${v.control}">보기만 가능</span></p>
                        <p class="card-text text-center" th:if="${v.state == 'running'}">상태 : 실행 중</p>
                        <p class="card-text text-center" th:if="${v.state == 'stop'}">상태 : 중지</p>
                        <div class="btn-wrap">

                            <div class="row d-flex justify-content-center" th:if="${v.state == 'running'}">
                                <div class="form-inline m-0 p-0 col-4">
                                    <button class="btn-main btn" th:onclick="|javascript:alert('${v.port}')|">접속</button>
                                </div>
                                <form class="form-inline m-0 p-0 col-4" th:action="@{/vm/stop/{id}(id=${v.id})}" method="post">
                                    <button class="btn-main btn" type="submit">중지</button>
                                </form>
                            </div>

                            <div class="row d-flex justify-content-center" th:if="${v.state == 'stop'}">
                                <div class="row d-flex justify-content-center" >
                                <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/start/{id}(id=${v.id})}" method="post">
                                    <button class="btn-main btn" type="submit">실행</button>
                                </form>
                                <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/save/{id}(id=${v.id})}" method="post">
                                    <button class="btn-main btn" type="submit">저장</button>
                                </form>
                                </div>
                                <div class="row d-flex justify-content-center">
                                <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/delete/{id}(id=${v.id})}" method="post">
                                    <button class="btn-main btn" type="submit">삭제</button>
                                </form>
                                <div class="form-inline m-1 p-0 col-6">
                                    <button class="btn-main btn" th:onclick="exportImage([[${v.imageId}]])">내보내기</button>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Pricing Section -->


</main><!-- End #main -->
<!-- 공통 footer -->
<div th:replace="/fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
<script th:inline="javascript">

    function alert(port) {
        Swal.fire({
            title : "접속하시겠습니까?",
            showCancelButton: true,
            confirmButtonColor: '#2487ce',
            cancelButtonColor: '#fa5f5f',
            confirmButtonText: '접속',
            cancelButtonText: '취소'
        }).then((result) => {
            if(result.isConfirmed) {
                //location.href = "http://localhost:"+port; // 기존 창에서 이동
                window.open("http://localhost:"+port, "_blank") // 새 창에서 켜짐
             }
        })
    }

    function exportImage(imageId) {
        Swal.fire({
            title: '아래의 키를 복사해서 사용하세요',
            text: imageId,
            confirmButtonColor: '#2487ce',
            confirmButtonText: '확인'
        });
    }
</script>
</body>

</html>
