<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>

<body>

    <!-- 공통 navigation-->
    <div th:replace="/fragments/nav.html::fragment-nav"></div>

    <!-- Page content-->
<main id="main">

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
            </br>
            </br>

            <div class="section-title">
                <h2><a th:text="${user.name}"></a>님의 가상환경 목록</h2>
            </div>

            </br>

            <div class="row">
                <div class="col-lg-3 col-md-5" data-aos="zoom-im" data-aos-delay="100" th:each="v : ${vm.getVms()}">

                    <div class="box">
                        <h3 th:text="${v.name}"></h3>
                        <input hidden id="vmId" type="text" th:value="${v.id}"/>
                        <input hidden id="vmPort" type="text" th:value="${v.port}"/>
                        <p class="card-text text-center"><span th:if="${v.scope}">전체공개</span></p>
                        <p class="card-text text-center"><span th:if="!${v.scope}">비공개</span></p>
                        <p class="card-text text-center"><span th:if="${v.control}">누구나 제어 가능</span></p>
                        <p class="card-text text-center"><span th:if="!${v.control}">보기만 가능</span></p>
                        <p class="card-text text-center" th:if="${v.state == 'running'}">상태 : 실행 중</p>
                        <p class="card-text text-center" th:if="${v.state == 'stop'}">상태 : 중지</p>
                        <div class="btn-wrap">

                            <span th:if="${v.state == 'running'}">
                                <button class="btn btn-primary" th:onclick="|javascript:alert('${v.port}')|">접속</button>
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/stop/{id}(id=${v.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">중지</button>
                                </form>
                            </span>
                            <span th:if="${v.state == 'stop'}">
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/start/{id}(id=${v.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">실행</button>
                                </form>
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/save/{id}(id=${v.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">저장</button>
                                </form>
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/delete/{id}(id=${v.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">삭제</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Pricing Section -->


</main><!-- End #main -->
<!-- 공통 footer -->
<div th:replace="/fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
<script>
    function alert(port) {
        Swal.fire({
            title : "접속하시겠습니까?",
            showCancelButton: true,
            confirmButtonColor: '#2a64a1',
            cancelButtonColor: '#fa5f5f',
            confirmButtonText: '접속',
            cancelButtonText: '취소'
        }).then((result) => {
            if(result.isConfirmed) {
                //location.href = "http://localhost:"+port; // 기존 창에서 이동
                window.open("http://3.34.181.183:"+port, "_blank") // 새 창에서 켜짐
            }
        })
    }

    function alert2(port) {

        Swal.fire({
            title : "가상환경을 종료하겠습니까?",
            showCancelButton: true,
            confirmButtonColor: '#2a64a1',
            cancelButtonColor: '#fa5f5f',
            confirmButtonText: '종료',
            cancelButtonText: '취소'
        }).then((result) => {
            if(result.isConfirmed) {
                // location.href = "http://localhost:"+port; // 기존 창에서 이동
                //access(id, port)
            }
        })
    }
    function access(id, port) {
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/vm/" + id + "/access");
        document.body.appendChild(form);
        form.submit();

        const newWindow = window.open("", "_blank");
        newWindow.location.href = "http://13.125.207.170:" + port;
    }
    function save(id) {
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/vm/" + id + "/save");
        document.body.appendChild(form);
        form.submit();
    }
    function exportKey(key) {
        Swal.fire({
            title : "가상 환경을 내보냈습니다. key: " + key,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '접속',
            cancelButtonText: '취소'
        })
    }
</script>
</body>

</html>
