<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>>
  <style>
    .chart-wrap{
      width: 300px;
      height: 250px;
    }
  </style>
</head>

<div th:fragment="chart(chartName, title, timestamp, value, yAxisLabel)">
  <div class="chart-wrap">
    <canvas id="myChart"></canvas>
  </div>
</div>
<script th:inline="javascript">
  /*<![CDATA[*/
  const ctx = document.getElementById(/*[[${chartName}]]*/);

  const timestamp = /*[[${timestamp}]]*/;
  const value = /*[[${value}]]*/;
  const title = /*[[${title}]]*/;
  const yAxisLabel = /*[[${yAxisLabel}]]*/;

  const data = {
    labels: timestamp,
    datasets: [{
      data: value,
      borderColor: 'rgb(75, 192, 192)',
      borderWidth: 1
    }]
  };

  new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
      plugins:{
        legend: {
          display: false
        },
        title: {
          display: true,
          text: title,
          font: {
            size: 18,
          },
        },
      },
      maintainAspectRatio: false,
      scales: {
        x: {
          grid:{
            display: false
          }
        },
        y: {
          title: {
            display: true,
            text: yAxisLabel,
            font: {
              size: 15,
            },
          },
          beginAtZero: true
        }
      }
    }
  });
  /*]]>*/
</script>
</html>