version: '3'

services:
  db:
    image: mariadb:10
    container_name: mariadb
    ports:
      - 3307:3306
    environment:
      MARIADB_DATABASE: 'p2k'
      MARIADB_ROOT_PASSWORD: //대문자, 소문자, 숫자, 특수문자를 포함한 암호 길이 8자 이상
      MARIADB_ROOT_HOST: '%'
      TZ: Asia/Seoul
    volumes:
      - ~/docker/mariadb/etc/mysql/conf.d:/etc/mysql/conf.d:ro
      - ~/docker/mariadb/var/lib/mysql:/var/lib/mysql
      - ~/docker/mariadb/var/log/maria:/var/log/maria
      - ./mariadb/conf.d:/etc/mysql/conf.d
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/initdb.d:/docker-entrypoint-initdb.d
    command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci']

  application:
    build: .
    container_name: springboot
    ports:
      - 80:8080
    depends_on:
      - db

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./src/main/resources/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    user: "$UID:$GID"
    ports:
      - "3000:3000"
    volumes:
      - ./src/main/resources/grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ALLOW_EMBEDDING=true