spring:
  datasource:
    url: jdbc:mariadb://mariaDB:3306/p2k?useSSL=false #?createDatabaseIfNotExist=true
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: //대문자, 소문자, 숫자, 특수문자를 포함한 암호 길이 8자 이상
  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: create # 또는 다른 옵션 (create, update, none) - 개발 시에는 create / live는 update
    show-sql: true
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect