<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 900px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>
</br>

<section id="pricing" class="pricing">
    <div class="container ms-4" data-aos="fade-up">

        <div class="d-flex" id="wrapper">
            <!-- 공통 sidebar-->
            <div th:replace="/course/course-sidebar.html::fragment-sidebar(${courseDTO.id}, ${user})"></div>

            <div id="page-content-wrapper">

                <div class="section-title">
                    <h2>교육자의 가상 환경 보기</h2>
                    <h3 th:text="${courseDTO.name}">강좌 이름</h3>
                </div>

                <!-- Page content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-5" data-aos="zoom-im" data-aos-delay="100" th:each="v : ${instructorVms.getVms()}">

                            <div class="box p-3">
                                <div class="row">
                                    <div class="dropdown col-2" th:if="${v.state == 'stop'}">
                                        <button class="btn dropdown-toggle z" type="button" data-toggle="dropdown" id="dropdownBtn">
                                            <!--                                <img src="/assets/drop-down.png" width="10px" height="10px"/>-->
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" th:onclick="exportImage([[${v.imageId}]])">내보내기</a>
                                            <a class="dropdown-item" type="submit" onclick="document.getElementById('delete').submit();">
                                                <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/delete/{id}(id=${v.id})}" method="post">
                                                    <input type="submit" style="border: 0; outline: 0; background-color: #fff" value='삭제하기'>
                                                </form>
                                            </a>
                                            <div class="dropdown-item" th:onclick="|location.href='@{/vm/update/{id}(id=${v.id})}'|">수정하기</div>
                                        </div>
                                    </div>
                                    <h3 class="col-8" th:text="${v.name}"></h3>
                                </div>

                                <input hidden id="vmId" type="text" th:value="${v.id}"/>
                                <input hidden id="vmPort" type="text" th:value="${v.port}"/>
                                <input hidden id="vmImageId" type="text" th:value="${v.imageId}"/>
                                <p class="card-text text-center"><span th:if="${v.scope}">전체공개</span></p>
                                <p class="card-text text-center"><span th:if="!${v.scope}">비공개</span></p>
                                <p class="card-text text-center"><span th:if="${v.control}">누구나 제어 가능</span></p>
                                <p class="card-text text-center"><span th:if="!${v.control}">보기만 가능</span></p>
                                <p class="card-text text-center" th:if="${v.state == 'running'}">상태 : 실행 중</p>
                                <p class="card-text text-center" th:if="${v.state == 'stop'}">상태 : 중지</p>
                                <div class="btn-wrap">

                                    <div class="row d-flex justify-content-center" th:if="${v.state == 'running'}">
                                        <div class="form-inline m-0 p-0 col-4">
                                            <button class="btn-main btn" th:onclick="|javascript:alert('${v.port}')|">접속</button>
                                        </div>
                                        <form class="form-inline m-0 p-0 col-4" th:action="@{/vm/stop/{id}(id=${v.id})}" method="post">
                                            <button class="btn-main btn" type="submit">중지</button>
                                        </form>
                                    </div>

                                    <div class="row d-flex justify-content-center" th:if="${v.state == 'stop'}">
                                        <div class="row d-flex justify-content-center" >
                                            <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/start/{id}(id=${v.id})}" method="post">
                                                <button class="btn-main btn" type="submit">실행</button>
                                            </form>
                                            <form class="form-inline m-1 p-0 col-3" th:action="@{/vm/save/{id}(id=${v.id})}" method="post">
                                                <button class="btn-main btn" type="submit">저장</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- 공통 footer -->
<div th:replace="/fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>

</html>