<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 900px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>
</br>

<section id="pricing" class="pricing">
    <div class="container ms-4" data-aos="fade-up">

<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/course/course-sidebar.html::fragment-sidebar(${courseDTO.id}, ${user})"></div>

    <div id="page-content-wrapper">

        <div class="section-title">
            <h2>교육자의 가상 환경 보기</h2>
            <h3 th:text="${courseDTO.name}">강좌 이름</h3>
        </div>

        <!-- Page content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-5" data-aos="zoom-im" data-aos-delay="100" th:each="vm : ${instructorVms.getVms()}">
                    <div class="box">
                        <h3 th:text="${vm.name}"></h3>
                        <input hidden id="vmId" type="text" th:value="${vm.id}"/>
                        <input hidden id="vmPort" type="text" th:value="${vm.port}"/>
                        <p class="card-text text-center"><span th:if="${vm.scope}">전체공개</span></p>
                        <p class="card-text text-center"><span th:if="!${vm.scope}">비공개</span></p>
                        <p class="card-text text-center"><span th:if="${vm.control}">누구나 제어 가능</span></p>
                        <p class="card-text text-center"><span th:if="!${vm.control}">보기만 가능</span></p>
                        <p class="card-text text-center" th:if="${vm.state == 'running'}">상태 : 실행 중</p>
                        <p class="card-text text-center" th:if="${vm.state == 'stop'}">상태 : 중지</p>
                        <div class="btn-wrap">

                            <span th:if="${vm.state == 'running'}">
                                <button class="btn btn-primary" th:onclick="|javascript:alert('${v.port}')|">접속</button>
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/stop/{id}(id=${vm.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">중지</button>
                                </form>
                            </span>
                            <span th:if="${vm.state == 'stop'}">
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/start/{id}(id=${vm.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">실행</button>
                                </form>
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/save/{id}(id=${vm.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">저장</button>
                                </form>
                                <form class="form-inline my-2 my-lg-0" th:action="@{/vm/delete/{id}(id=${vm.id})}" method="post">
                                    <button class="btn btn-primary" type="submit">삭제</button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</section>
<!-- 공통 footer -->
<div th:replace="/fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>

</html>
