<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 700px;
    }
    .table th {
        width: 33.3%;
    }
    .table td {
        height: 50px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>
</br>

<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/course/course-sidebar.html::fragment-sidebar(${courseDTO.id}, ${user})"></div>

    <div id="page-content-wrapper">

        <!-- Page content-->
        <div class="container-fluid">
            <div class="py-5 text-center">
                <h1 class="col mt-4" th:text="${courseDTO.name}">강좌 이름</h1>
                <h2 class="mt-4">공지사항</h2>
            </div>
            <div class="row container2 mx-auto">
                <div class="col">
                    <button th:if="${user.role.name() == 'ROLE_INSTRUCTOR'}"
                            type="button" class="btn btn-outline-primary float-end"
                            th:onclick="'javascript:createPost('+${courseDTO.id}+')'">글쓰기</button>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="saveDTO : ${postDTOs.getPosts()}">
                            <td class="align-middle"><a th:href="@{/courses/__${courseDTO.id}__/notice-board/__${saveDTO.id}__}" th:text="${saveDTO.title}">게시물 제목</a></td>
                            <td class="align-middle" th:text="${saveDTO.author}">게시물 작성자</td>
                            <td class="align-middle" th:text="${saveDTO.createdDate}">게시물 날짜</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!--페이지 처리-->
                    <div th:if="${!postDTOs.isEmpty}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!postDTOs.hasPrevious} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${postDTOs.number - 1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(postDTOs.getStartPage(), postDTOs.getEndPage())}"
                                th:classappend="${page == postDTOs.number} ? 'active'" class="page-item">
                                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!postDTOs.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${postDTOs.number + 1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>
<script>
    function createPost(courseId) {
        const form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/courses/" + courseId + "/notice-board/save");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
