<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 900px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>

<section id="pricing" class="pricing">
    <div class="container ms-4" data-aos="fade-up">

<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/course/course-sidebar.html::fragment-sidebar(${courseDTO.id}, ${user})"></div>

    <div id="page-content-wrapper">

        <div class="section-title">
            <h2>공지사항 글 작성하기</h2>
            <h3 th:text="${courseDTO.name}">강좌 이름</h3>
        </div>

        <!-- Page content-->
        <div class="container-fluid">
            <div class="container2 mx-auto">
                <form action="noticeBoard.html" th:action th:object="${saveDTO}" method="post" class="g-3 needs-validation" novalidate>
                    <div class="row mb-3">
                        <label for="title"  class="col-sm-2 col-form-label">제목</label>
                        <div class="col-sm-10">
                            <input type="text" id="title" th:field="*{title}" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="content" class="col-sm-2 col-form-label">내용</label>
                        <div class="col-sm-10">
                            <input type="text" id="content" th:field="*{content}" class="form-control">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 text-center">
                            <button class="btn btn-outline-primary" type="submit">저장</button>
                            <button class="btn btn-outline-danger"
                                    th:onclick="|location.href='@{/courses/{courseId}/notice-board(courseId=${courseDTO.id})}'|"
                                    type="button">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<!-- 공통 footer -->
<div th:replace="/fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>

</html>
