<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 850px;
    }
    .table th {
        width: 10%;
        background-color: #f8fbfe;
    }
    .table td {
        height: 50px;
    }
</style>
<body>
<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>

<section id="pricing" class="pricing">
    <div class="container ms-4" data-aos="fade-up">
<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/course/course-sidebar.html::fragment-sidebar(${courseDTO.id}, ${user})"></div>

    <div id="page-content-wrapper">

        <div class="section-title">
            <h2>수강생 관리</h2>
            <h3 th:text="${courseDTO.name}">강좌 이름</h3>
        </div>

        <!-- Page content-->
        <div class="container-fluid">
            <div class="row container2 mx-auto">
                <div class="accordion" id="accordionExample">
                    <div th:each="studentDTO, iterStat : ${studentDTOs.getStudents()}">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${iterStat.index}"
                                        aria-expanded="false" th:text="${studentDTO.name}">수강생 이름</button>
                            </h2>
                            <div th:id="'collapse' + ${iterStat.index}" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>

<!-- 공통 footer -->
<div th:replace="/fragments/footer.html::fragment-footer"></div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>

</html>
