<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container {
        max-width: 700px;
    }
</style>
<body>
<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
        <!-- 공통 navigation-->
        <div th:replace="/fragments/nav.html::fragment-nav"></div>

        <!-- Page content-->
        <div class="container-fluid">
            <div class="py-5 text-center">
                <h1 class="mt-4">비밀번호 재설정</h1>
            </div>
        </div>
    </div>
</div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>
</html>
