<footer id="footer" th:fragment="fragment-footer">

  <div class="footer-top">
    <div class="container">
      <div class="row text-secondary">
        <h3>Contact Us</h3>
        <p class="col-lg-3 col-md-4 footer-contact">
          <strong>sohyun</strong> <br>
            <strong>github:</strong> https://github.com/<br>
            <strong>Email:</strong> sohyun@naver.com<br>
        </p>
        <p class="col-lg-3 col-md-4 footer-contact">
          <strong>gihae</strong> <br>
            <strong>github:</strong> https://github.com/<br>
            <strong>Email:</strong> gihae@naver.com<br>
        </p>
        <p class="col-lg-3 col-md-4 footer-contact">
          <strong>sudding</strong> <br>
          <strong>github:</strong> https://github.com/<br>
          <strong>Email:</strong> tngus4789@naver.com<br>
        </p>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>P2K</span></strong>.
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->