<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-- Sidebar-->
  <div th:fragment="fragment-sidebar" class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">P2K</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/vm">나의 가상환경 목록</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/vm/create">가상환경 생성하기</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/vm/load">가상환경 로드하기</a>
    </div>
  </div>

</html>
