<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>

<body>
<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/fragments/sidebar.html::fragment-sidebar"></div>

    <div id="page-content-wrapper">
        <!-- 공통 navigation-->
        <div th:replace="/fragments/nav.html::fragment-nav"></div>

        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4"><a th:text="${user.name}"></a>님의 가상환경 목록</h1>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-3" th:each="v : ${vm}">
                        <div class="card">
<!--                            <h5 class="card-header text-dark" th:text="${v.vmname}"></h5>-->
                            <div class="card-body">
<!--                                <h6 class="card-subtitle mb-2 text-muted">가상환경 설명.. </h6>-->
                                <h4 class="card-title text-center" th:text="${v.vmname}"></h4>
<!--                                <p class="card-subtitle text-light"><span th:text="${v.cousrdid}"></span> </p>-->
                                <p class="card-text text-center"> 공개범위 : <span th:text="${v.scope}"/> </p>
                                <p class="card-text text-center"> 제어권한 : <span th:text="${v.control}"/> </p>
                                <div class="text-center"><button class="btn btn-primary" onclick="alert('접속하시겠습니까?')">접속하기</button></div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
<script>
    function alert(msg) {
        Swal.fire({
            title : msg,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '접속',
            cancelButtonText: '취소'
        })
    }
</script>
</body>

</html>
