<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-- Sidebar-->
  <div th:fragment="fragment-sidebar" class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light" th:onclick="|location.href='/vm'|">P2K</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/courses">나의 강좌</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/courses/create">강좌 생성하기</a>
    </div>
  </div>

</html>