<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-reply(replies, postId)">
    <!-- Reply Form -->
    <form th:action="@{|/posts/${postId}/replies|}" method="post" class="my-3">
        <div class="card">
            <div class="card-body">
                <textarea name="content" id="content" rows="1" class="form-control"></textarea>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-primary" type="submit">등록</button>
            </div>
        </div>
    </form>

    <!-- Replies -->
    <div class="card my-3" th:each="reply : ${replies}">
        <div class="card-body">
            <div class="card-text">
                <p th:text="${reply.userName}">댓글 작성자</p>
                <p th:text="${reply.content}">댓글 내용</p>
                <p th:text="${reply.createdDate}">댓글 작성일</p>
            </div>
        </div>
    </div>
</div>
</html>