<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 700px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav"></div>
</br>
</br>

<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/fragments/course/innerStudent.html::fragment-sidebar(${courseDTO.id})"></div>

    <div id="page-content-wrapper">

        <!-- Page content-->
        <div class="container-fluid">
            <div class="py-5 text-center">
                <h1 class="col mt-4" th:text="${courseDTO.name}">강좌 이름</h1>
                <h2 class="mt-4">나의 가상 환경</h2>
            </div>
            <div class="row container2 mx-auto">
                <div th:each="vm : ${myVms}">
                    <p th:text="${vm}">강좌</p>
                    <button>접속</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>

</html>
