<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 header -->
<div th:replace="/fragments/header.html::fragment-header"></div>
<style>
    .container2 {
        max-width: 700px;
    }
    .light-gray-bg {
        background-color: #f0f0f0;
    }

    .lighter-gray-bg {
        background-color: #f5f5f5;
        height: 300px;
    }
</style>
<body>

<!-- 공통 navigation-->
<div th:replace="/fragments/nav.html::fragment-nav(${user})"></div>
</br>
</br>

<div class="d-flex" id="wrapper">
    <!-- 공통 sidebar-->
    <div th:replace="/fragments/course/innerStudent.html::fragment-sidebar(${courseDTO.id})"></div>

    <div id="page-content-wrapper">

        <!-- Page content-->
        <div class="container-fluid">
            <div class="container2 mx-auto">
                <div class="py-5 text-center">
                    <h1 class="mt-4" th:text="${courseDTO.name}">강좌 이름</h1>
                    <h2 class="mt-4">공지사항</h2>
                </div>
                <div class="row light-gray-bg p-3 d-flex align-items-center">
                    <div class="col-md-6">
                        <p class="m-0" th:text="|제목: ${postDTO.title}|">공지사항 글 제목</p>
                    </div>
                    <div class="col-md-3">
                        <p class="m-0" th:text="|작성자: ${postDTO.author}|">공지사항 글 작성자</p>
                    </div>
                    <div class="col-md-3">
                        <p class="m-0" th:text="|작성일: ${postDTO.createdDate}|">공지사항 글 작성일</p>
                    </div>
                </div>
                <div class="row lighter-gray-bg p-3">
                    <div class="col-md-12">
                        <p th:text="${postDTO.content}">공지사항 글 내용</p>
                    </div>
                </div>
                <div th:insert="/fragments/course/reply.html::fragment-reply(${repliesDTO.getReplies()}, ${postDTO.id}, ${userId})"></div>
                <div class="row mt-4 justify-content-center">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-outline-primary"
                                th:onclick="|location.href='@{/courses/{courseId}/notice-board(courseId=${courseDTO.id})}'|"
                                type="button">목록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 공통 script -->
<div th:replace="/fragments/script.html::fragment-script"></div>
</body>

</html>
